$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

@import "_misc/fonts.scss";
@import "_misc/layout.scss";


@import "./blocks/header.scss";
@import "./blocks/hero.scss";
@import "./blocks/btn.scss";
@import "./blocks/title.scss";
@import "./blocks/best.scss";
@import "./blocks/team.scss";
@import "./blocks/accordion.scss";
@import "./blocks/reviews.scss";
@import "./blocks/fixedMenu.scss";