@charset "UTF-8";
body {
  background: lightblue; }

@font-face {
  font-family: Ubuntu-Medium;
  /* Имя шрифта */
  src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: Lifehack Medium;
  /* Имя шрифта */
  src: url("../fonts/Lifehack Medium.ttf");
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: Gagalin;
  /* Имя шрифта */
  src: url("../fonts/Gagalin/Gagalin.ttf");
  /* Путь к файлу со шрифтом */ }

.wrap-main {
  width: 1100px;
  height: 650px; }
  .wrap-main.first-screen {
    background: url("../img/texture-bg.jpg"); }
  .wrap-main.second-screen {
    background: url("../img/second-bg.jpg") no-repeat; }

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 950px;
  color: #ffffff;
  font: 13px/30px Ubuntu-Medium;
  padding-top: 8px; }
  .header-wrap .header:first-child {
    margin-right: auto; }

.logo {
  background: url("../icons/logo.svg") no-repeat -2px;
  width: 102px;
  height: 75px; }

.menu {
  margin-left: 18px; }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 690px;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .menu ul li {
      margin-right: 25px;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
    .menu ul li:first-child {
      list-style: none; }

.order button {
  width: 100px;
  height: 35px;
  background: #e45028;
  border-radius: 5px;
  border-style: none;
  color: #ffffff;
  font: 13px/30px Ubuntu-Medium; }

.content-wrap {
  width: 890px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background: url(../icons/drops.svg) no-repeat 0px 60px; }

.burger-img {
  background: url(../img/burger.png) no-repeat 24px -18px;
  width: 445px;
  height: 424px; }

.text-wrap {
  width: 415px;
  padding: 0 9px; }

.we_do-text {
  font-size: 72.02px;
  font-family: "Gagalin";
  color: #f9b43b;
  line-height: 1.181;
  text-align: left;
  -moz-transform: matrix(1.00035, 0, 0, 0.99972, 0, 0);
  -webkit-transform: matrix(1.00035, 0, 0, 0.99972, 0, 0);
  -ms-transform: matrix(1.00035, 0, 0, 0.99972, 0, 0);
  z-index: 213;
  margin: 115px 0 22px; }

.natural_burgs-text {
  font-size: 62px;
  font-family: "Lifehack Medium";
  color: #fff;
  line-height: 1; }

.arrow {
  margin: 0 auto;
  width: 30px;
  height: 15px;
  background: url(../icons/arrow-scroll.svg) no-repeat 50% 50%;
  margin-top: 67px; }

/*****************************************************************************************/
.header-text {
  width: 385px;
  height: 60px;
  padding: 127px 0 0 356px;
  font-size: 71.713px;
  font-family: "Gagalin";
  color: #2f3234;
  line-height: 0.889;
  text-align: center; }

.row-wrap {
  width: 940px;
  height: 280px;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.block {
  width: 300px;
  height: 280px; }

.img-wrap {
  width: 100%;
  height: 90px;
  margin-top: 15px; }

.img-wrap.meat {
  background: url(../icons/meat.svg) no-repeat 50% 0; }

.img-wrap.hand {
  background: url(../icons/hand.svg) no-repeat 50% 0; }

.img-wrap.natural {
  background: url(../icons/natural.svg) no-repeat 50% 0; }

.block-header {
  font-size: 24px;
  font-family: "Lifehack Medium";
  color: #2f3234;
  line-height: 1.167;
  text-align: center;
  margin-top: 30px; }

.block-text {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgba(47, 50, 52, 0.8);
  line-height: 1.714;
  text-align: center;
  margin-top: 16px; }

/*********************************************************/
.photos-wrap {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.photo {
  width: 275px;
  height: 325px; }

.photo1 {
  background: url(../img/photos/photo-1.jpg) no-repeat; }
  .photo1:hover .hidden {
    display: block; }

.photo2 {
  background: url(../img/photos/photo-2.jpg) no-repeat; }
  .photo2:hover .hidden {
    display: block; }

.photo3 {
  background: url(../img/photos/photo-3.jpg) no-repeat; }
  .photo3:hover .hidden {
    display: block; }

.photo4 {
  background: url(../img/photos/photo-4.jpg) no-repeat; }
  .photo4:hover .hidden {
    display: block; }

.photo5 {
  background: url(../img/photos/photo-5.jpg) no-repeat; }
  .photo5:hover .hidden {
    display: block; }

.photo6 {
  background: url(../img/photos/photo-6.jpg) no-repeat; }
  .photo6:hover .hidden {
    display: block; }

.photo7 {
  background: url(../img/photos/photo-7.jpg) no-repeat; }
  .photo7:hover .hidden {
    display: block; }

.photo8 {
  background: url(../img/photos/photo-8.jpg) no-repeat; }
  .photo8:hover .hidden {
    display: block; }

.client_fio {
  font-size: 14px;
  font-family: "Gagalin";
  color: #fff;
  line-height: 2;
  text-align: left;
  margin: 40px 0 0 20px; }

.review-text {
  font-size: 14px;
  font-family: "Ubuntu";
  color: #fff;
  line-height: 1.714;
  margin: 15px 0 0 20px; }

button.more {
  border-style: none;
  background: #2f3234;
  color: #fff;
  font-size: 13px;
  font-family: "Ubuntu";
  text-transform: uppercase;
  line-height: 2.308;
  width: 111px;
  height: 35px;
  border-radius: 5px;
  margin: 17px 0 0 19px; }

.hidden {
  display: none; }
