$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//breakpoints
$tablets: 768px;
$phones: 480px;
$anotherBreakpoint: 1000px;

/* @import "_misc/media.scss";
@import "_misc/fonts.scss";
@import "_misc/layout.scss";

@import "./blocks/header.scss";
@import "./blocks/hamburgerMenu.scss";
@import "./blocks/hero.scss";
@import "./blocks/arrows.scss";
@import "./blocks/btn.scss";
@import "./blocks/title.scss";
@import "./blocks/best.scss";
@import "./blocks/burgers.scss";
@import "./blocks/team.scss";
@import "./blocks/accordeon.scss";
@import "./blocks/menus.scss";
@import "./blocks/menusAccordeon.scss";
@import "./blocks/reviews.scss";
@import "./blocks/contact.scss";
@import "./blocks/work.scss";
@import "./blocks/order.scss";
@import "./blocks/map.scss";
@import "./blocks/footer.scss";
@import "./blocks/fixedMenu.scss";
@import "./blocks/cross.scss";
@import "./blocks/modals.scss";
@import "./blocks/errors.scss";
@import "./blocks/tabs.scss"; */

@import './_misc/*.scss';
@import './blocks/*.scss';
