.accordeon__list {
	@include tablets() {
		text-align: center;
		margin: 0 5%;
	}
}

.accordeon__item {
	display: block;
	color: #fff;
	
	font-size: 0.8rem;
	
	margin-bottom: rem(25px);
}

.accordeon__item-name {
	text-decoration: none;
	color: #fff;
	@include gagalin();
	padding-left: rem(20px);
	position: relative;
	//width: 100%;
    background: transparent;
    border-style: none;
    outline: none;


	&:before {
		content: "";
		width: 0;
		height: 0;
		border-left: rem(4px) solid transparent;
		border-right: rem(4px) solid transparent;
		border-top: rem(6px) solid $yellow;
		position: absolute;
		top: rem(5px);
		left: rem(0px);
	}

	&:hover {
		color: $yellow;
		cursor: pointer;

	}
}

.accordeon__item {
	&.active {
		.accordeon__item-name {
			color: $yellow;
			&:before {
				content: "";
				width: 0;
				height: 0;
				border-left: rem(4px) solid transparent;
				border-right: rem(4px) solid transparent; 
				border-bottom: rem(6px) solid $yellow;
				border-top: 0;
				position: absolute;
				top: rem(5px);
				left: rem(0px);
			}
		}
	}
	
} 

.accordeon__item__wrap {
	display: block;
	height: 0;
	overflow: hidden;
	transition: height .3s;
}

.accordeon__item__content {
	display: flex;
	flex-direction: row;
	@include tablets() {
		flex-direction: column;
	}
}

.accordeon__item-img {
	border-radius: 50%;
    width: rem(100px);
    height: rem(100px);
    object-fit: cover;
}

.accordeon__img {
	padding: rem(13px) rem(5px) rem(5px) rem(18px);
}

.accordeon__item__desc {
	padding: rem(10px) rem(16px) 0 rem(16px);
	//width: rem(225px);
}

.accordeon__item__desc-staff {
	@include ubuntu(bold);
	font-size: 0.875rem;
}

.accordeon__item__desc-text {
	margin-top: rem(12px);
	line-height: 1.7;
	font-size: 0.875rem;
	@include ubuntu();
}
