.hamburger__menu-link {
	vertical-align: middle;
	position: relative;
	height: rem(22px);
	display: none;
	align-items: center;
	margin-left: rem(30px);
	border: none;
    background: transparent;
	
	@include tablets() {
		display: flex;
	}

	&:hover {
		cursor: pointer;
	}

}

.hamburger__menu-link__bars {
	&, &:before, &:after {
		background: #fff;
		width: rem(24px);
		height: rem(4px);
		border-radius: 3px;
	}

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
	}

	&:before {
		top: 1px;
	} 

	&:after {
		top: rem(17px);
	} 
}



 .hamburger__menu-wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	display: none;
	
	background: $black;
	text-transform: uppercase;

	font-size: rem(24px);
	line-height: rem(40px);

	&_visible {
		display: block;
	}
} 

.hamburger__menu-content {
	margin-top: rem(200px);
}

.hamburger__menu-logo {
	margin-left: rem(20px);
}

.hamburger__menu-wrap .menu__list {
	flex-direction: column;
}

.hamburger__menu-wrap .menu__item {
	position: relative;
	justify-content: center;
	min-width: rem(140px);
	margin-bottom: rem(30px);

	&:after {
		position: absolute;
	    left: 45%;
	    top: rem(50px);
	}

	
}

.hamburger__menu-header {
	align-items: center;
    display: flex;
    justify-content: space-between;
    padding-right: rem(20px);
}

.hamburger__menu-closeBtn {
	background: transparent;
	border-style: none;

	&:hover {
		cursor: pointer;
	} 
}


