.reviews {
	background: #000;
	position: relative;
}

.reviews__list {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.reviews__item {
	width: 25%;
	height: 50%;
	background: center center /cover no-repeat;
	position: relative;
	filter: grayscale(100%);
	&:hover {
		.reviews__item-hover {
			opacity: 1;
		}
	}

	@include tablets() {
		width: 50%;
		height: 25%;
		text-align: center;
	}
}

.review {
	width: 100%;
	height: 100%;
}

.review__photo {
	width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.reviews__item-hover {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(#000, .5);
	padding: rem(20px);
	color: #fff;
	opacity: 0;
	transition: opacity 0.3s;
}

.review__title {
	font-size: 0.875rem;
	line-height: 4.8;
	@include gagalin();

	@include phones {
		font-size: rem(24px);
		line-height: 1.3;
	}

}

.reviews_text {
	font-size: 0.875rem;
	line-height: 1.7;

	@include tablets {
		max-height: 65px;
    	overflow: hidden;
	}

	@include phones {
		display: none;
	}
}

.reviews__btn {
	margin-top: rem(20px);


}

btn_hover {
	background: #0f0f0f;
}