.arrow {
	position: absolute;
	display: block;
	width: rem(32px);
	height: rem(19px);
	background: url(../img/icons/arrow-scroll.svg) no-repeat;
	border: none;

	&-down {
		transform: rotate(0);
	}

	&-left {
		transform: rotate(90deg);
	}

	&-right {
		transform: rotate(270deg);
	}
}



