.best {
	background: url('../img/best-bg.jpg') center center / cover no-repeat;
	text-align: center;
	display: flex;
	align-items: center;
}

.best__list {
	display: flex;
	@include phones {
		flex-direction: column;
	}
}

.best__item {
	flex: 1;
	margin-right: rem(15px);
	text-align: center;
	
	flex-direction: column;
	display: flex;
	&:last-child {
		margin-right: 0;
	}

	@include phones {
		flex-direction: row;
		display: flex;
		text-align: left;
	}
}
.best__img {
//	display: flex;
//	justify-content: center;
//	align-items: center;
min-width: 25%;
	
}

.best__img-svg {
	//width: 100%;
	width: 90%;
	height: (100px);
	svg {
		max-width: 95%;
	}
}

.best__desc-title {
	font-family: 'Lifehack-Medium';
	font-size: 1.5rem;
	//margin-top: rem(25px);
}

.best__desc-content {
	font-size: 0.8775rem;
	@include ubuntu();
	line-height: 1.7;
    margin-top: rem(10px);
}

.best__img-svg {
	/* display: inline-block;
	width: 50%;
	height: 60%; */
}

.best__title {
	margin-bottom: rem(5px);
	@include phones {
		margin-bottom: rem(35px);
	}
}

