.btn {
	background: $red;
	padding: rem(10px) rem(16px);
	border-radius: rem(5px);
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 0.8125rem;
	border-style: none;

	&:hover {
			cursor: pointer;
		}

	&_background-black {
		background: $black;

		&:hover {
			background: #0f0f0f;

		}
	}
}

