.fixed-menu {
	position: fixed;
	top: rem(91px);
    right: rem(51px);

    @include tablets {
		display: none;
	}
	
}

.fixed-menu__item {
	display: block;
    width: rem(14px);
    height: rem(14px);
    border: rem(1px) solid transparent;
    border-radius: 50%;
    margin-bottom: rem(7px);
    position: relative;

    &.active {
		border-color: #fff;
	}

	&:hover {
		border-color: #fff;
		cursor: pointer;
	}

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: rem(5px);
    	height: rem(5px);
		border-radius: 50%;
		background: #fff;
	}
}