.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;

	@include ubuntu(medium);
	font-size: 0.8125rem;

}

.logo {
	margin-top: rem(10px);
	width: 12%;
	min-width: 7rem;
	
}

.logo img {
	width: 100%;
	height: 100%;
}

.header__buttons {
	width: 84%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;

	@include anotherBreakpoint {
		width: 90%;
	}
}

.header__links {
	display: flex;
}

.header__menu {
	flex: 1;
	text-align: right;
	margin-right: rem(20px);

	@include anotherBreakpoint {
		margin-right: 0;
	}

	@include tablets {
		display: none;
	}


}

.menu__list {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.menu__item {
	display: flex;
	align-items: center;
	@include ubuntu(medium);

	&:last-child {
		&:after {
			display: none;
		}
	}

	&:after {
		content: "";
		width: rem(4px);
		height: rem(4px);
		border-radius: 50%;
		display: inline-block;
		background: #fff;
		margin: 0 rem(14px);

		@include anotherBreakpoint {
			margin: 0 rem(8px);
		}
	}
}

.menu__link {
	color: #fff;
	text-decoration: none;
	
	&:hover {
		color: $red;
	}
}