.menus__accordeon {
	display: flex;
	height: 100%;

}

.menus__item-wrap {
	display: flex;
	height: 100%;
	&.active {
		.menus__item-title{
    		color: $yellow;
    	}
		.menus__item-text-wrap {
			//width: 95%;
			max-width: rem(540px);
		}
}
}

@each $val in (meat, vegan, diet) {
	.menu-#{$val} {
		background: url(../img/menu-#{$val}.jpg) center center / cover no-repeat;
		/* idth: 33.33%; */
	}
}

.title_size_l {
	width: rem(300px);
}

.menus__item-title {
	/* -webkit-transform: rotate(90deg);  */
	@include gagalin();
	transform: rotate(270deg);
    font-family: 'Gagalin-Regular', Helvetica, sans-serif;
    font-size: 2.5rem;
    color: #fff;
    transform-origin: rem(35px) rem(35px);
    background: transparent;
    border-style: none;
    outline: none;
    min-width: rem(280px);
    width: 98vh;
    text-align: left;
    padding-top: rem(10px);
    padding-bottom: rem(20px);
    padding-left: rem(45px);

    &:hover {
    	cursor: pointer;
    }

    @include phones {
        font-size: 2rem;
    }
}

.menus__item {
	display: flex;
    justify-content: flex-end;
    flex-direction: column;
    //padding: rem(0px) rem(10px);
    width: rem(80px);

    &:hover {
    	cursor: pointer;
    	.menus__item-title{
    		color: $yellow;
    	}
    	
    }

    @include phones {
        width: rem(64px);
    }
}



.menus__item-text-wrap {
	width: rem(0px);
	overflow: hidden;
	background: $black;
    opacity: .93;
}

.menus__item-text {
	padding: rem(60px) rem(35px);
    color: #fff;
    @include ubuntu();
    font-size: 0.875rem;
    line-height: 1.6;

    @include phones {
        padding: rem(15px) rem(20px);
    }
}