.order {
	background: url('../img/order-bg.jpg') center center  / cover no-repeat;
}

.form__column-wrap {
	position: relative;
	display: flex;
	justify-content: space-between;

	@include tablets {
		flex-direction: column;	
		padding: 0 15%;
	}
	@include phones {
		padding: 0 5%;
	}
}

.form__column {
	flex: 1;
	margin-left: rem(20px);

	&:first-child {
		margin-left: 0;
	}

	@include tablets {
		margin-left: 0;
	}
}

.form__row {
	display: flex;
	margin-bottom: rem(14px);

	@include phones {
		justify-content: center;
	}
}

.form__block {
	margin-right: rem(20px);
	flex: 1;	

	&:last-child {
		margin-right: 0;
	}

	@include phones {
		justify-content: center;
	}
}

.form__block-title {
	@include ubuntu();
	font-size: 0.875rem;
	color: #fff;
	line-height: 2;
}

.form__block-input {
	border-radius: rem(5px);
	background: #fff;
	border: none;
	border: 2px solid transparent;
	width: 100%;
	padding: rem(7px) rem(9px);

	&.has-error {
		border: 2px solid red;
	}
}

.form__block-textarea {
	border-radius: rem(5px);
	background: #fff;
	border: none;
	border: 2px solid transparent;
	width: 100%;
	height: 7rem;
	padding: rem(8px) rem(10px);

	&.has-error {
		border: 2px solid red;
	}
}

.form__block-radio {
	background: #fff;
}

.form__block-flex {
	display: flex;
	align-items: center;
}

.title_radio {
	margin-left: rem(10px);
}

.btn_clear {
	border-style: none;
	background: transparent;
	margin-left: rem(10px);
	color: #fff;

	&:hover {
		color: $red;
		cursor: pointer;
	}
}


//**************************************
.hide-elem {
	display: none;
}

.checkbox-custom,
.radio-custom {
	width: rem(16px);
	height: rem(16px);
	border-radius: 50%;
	background: #fff;
	position: relative;
}
.checkbox-custom,
.radio-custom,
.form__block-title {
	display: inline-block;
	vertical-align: middle;
}

.form__block-radio:checked + .radio-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: rem(5px);
	right: rem(5px);
	bottom: rem(5px);
	left: rem(5px);
	background: $red;
	border-radius: 50%;
}
.checkbox-custom {
	border-radius: 0;
}



.form__block-checkbox:checked + .checkbox-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0; 
	background: url('../img/forCheckbox.png') center center no-repeat;
}