.team {
	background: url('../img/team_bg.jpg') center center / cover no-repeat;
	position: relative;
}

.team__container {
	position: absolute;
	background: rgba($black, .9);
	left: 50%;
	top: 0;
	right: 0;
	bottom: 0;
	//width: 50%;
	height: 100%;
	padding: rem(96px) rem(5px) rem(10px) rem(108px);	

	@include tablets() {
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		flex-direction: column;
	}
}

