.title {
	font-size: 4.5rem;
	color: $yellow;
	font-family: 'Gagalin-Regular';
	line-height: 0.8;
	margin-bottom: rem(45px);

	&_color-black {
		color: $black;
	}

	&_color-white {
		color: #fff;
	}

	&_small-size {
		font-size: 1rem;
	}
}

